<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/shop-homepage.css" rel="stylesheet"/>

</head>
<body ng-app="merch">

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Merch</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div ng-controller="navigationController" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">About</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="insert-cup.html">Add cup</a>
                        </li>
                        <li>
                            <a href="/good">Get all goods</a>
                        </li>
                        <li>
                            <a href="/cup">Get all cups</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="https://vk.com/im?sel=51809846">Contact</a>
                </li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/login" ng-hide="authenticated">Login via VK</a>
                </li>
                <li>
                    <a ng-show="authenticated">{{authenticated}}</a>
                </li>
                <li>
                    <a href="#" ng-click="logMeOut()" ng-show="authenticated">{{logoutText}}</a>
                </li>
            </ul>


        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<!-- Page Content -->
<div class="container">


    <!-- Content Row -->
    <!-- /.row -->
    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row" ng-controller="buyController">
        <div class="col-md-8">
            <h3>Buy a good {{type_name}}</h3>
            <form name="buyGood" id="buyGood"
                  method="post">
                <div class="control-group form-group" ng-show="useSavedAddress">
                    <div class="controls">
                        <label>Address: {{address}}; </label>
                        <a ng-click="changeUsingSavedAddress()">change</a>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls" ng-hide="useSavedAddress">
                        <label>Zip:</label>
                        <input type="text" class="form-control" id="zip" name="zip" value="75007">
                    </div>
                </div>
                <div class="control-group form-group" ng-hide="useSavedAddress">
                    <div class="controls">
                        <label>Street:</label>
                        <input type="text" class="form-control" id="street" name="street" value="Avenue Anatole France">
                    </div>
                </div>
                <div class="control-group form-group" ng-hide="useSavedAddress">
                    <div class="controls">
                        <label>Address:</label>
                        <input type="text" class="form-control" id="rest" name="rest" value="5-0">
                    </div>
                    <br>
                    <button class="btn btn-primary" ng-click="changeUsingSavedAddress()">Use saved address</button>
                </div>
                <div class="control-group form-group" ng-show="useSavedEmail">
                    <div class="controls">
                        <label>Email: {{email}}; </label>
                        <a ng-click="changeUsingSavedEmail()">change</a>
                    </div>
                </div>
                <div class="control-group form-group" ng-hide="useSavedEmail">
                    <div class="controls">
                        <label>Email:</label>
                        <input type="text" class="form-control" id="email" name="email">
                        <br>
                        <button class="btn btn-primary" ng-click="changeUsingSavedEmail()">Use saved email</button>
                    </div>
                </div>
                <div class="control-group form-group" ng-show="useSavedPhone">
                    <div class="controls">
                        <label>Phone: {{phone}}; </label>
                        <a ng-click="changeUsingSavedPhone()">change</a>
                    </div>
                </div>
                <div class="control-group form-group" ng-hide="useSavedPhone">
                    <div class="controls">
                        <label>Phone:</label>
                        <input type="text" class="form-control" id="phone" name="phone" >
                        <br>
                        <button class="btn btn-primary" ng-click="changeUsingSavedPhone()">Use saved phone</button>
                    </div>
                </div>
                <div id="success"></div>
                <!-- For success/fail messages -->
                <input id="submitBtn" type="button" class="btn btn-primary" value="Submit" ng-click="post()">
            </form>
        </div>

    </div>
    <!-- /.row -->

    <hr>
</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/navigationContoller.js"></script>
<script src="js/buyController.js"></script>
</body>
</html>