<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/shop-homepage.css" rel="stylesheet"/>
    <!--<base href="/">-->

</head>
<body ng-app="merch" >



<!-- Page Content -->
<div class="container">


    <!-- Content Row -->
    <!-- /.row -->
    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row" ng-controller="registrationController">
        <div class="col-md-8">
            <h3>Please, specify data for {{username}}</h3>
            <form name="registration" id="registration" action="/user"
                  method="post">
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Email:</label>
                        <input type="text" class="form-control" id="email" name="email" value="pikachu@gmail.com">
                        
                    </div>
                </div>
                <!--<div class="control-group form-group">-->
                    <!--<div class="controls">-->
                        <!--<label>Zip:</label>-->
                        <!--<input type="text" class="form-control" id="zip" name="zip" value="75007">-->
                        <!---->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="control-group form-group">-->
                    <!--<div class="controls">-->
                        <!--<label>Street:</label>-->
                        <!--<input type="text" class="form-control" id="street" name="street" value="Avenue Anatole France">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="control-group form-group">-->
                    <!--<div class="controls">-->
                        <!--<label>Address:</label>-->
                        <!--<input type="text" class="form-control" id="rest" name="rest" value="5-0">-->
                    <!--</div>-->
                <!--</div>-->

                <div class="control-group form-group" ng-show="useSavedAddress">
                    <div class="controls">
                        <label>Address: </label>
                        <a ng-click="changeUsingSavedAddress()">Specify address</a>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls" ng-hide="useSavedAddress">
                        <label>Zip:</label>
                        <input type="text" class="form-control" id="zip" name="zip" value="75007">
                    </div>
                </div>
                <div class="control-group form-group" ng-hide="useSavedAddress">
                    <div class="controls">
                        <label>Street:</label>
                        <input type="text" class="form-control" id="street" name="street" value="Avenue Anatole France">
                    </div>
                </div>
                <div class="control-group form-group" ng-hide="useSavedAddress">
                    <div class="controls">
                        <label>Address:</label>
                        <input type="text" class="form-control" id="rest" name="rest" value="5-0">
                    </div>
                </div>



                <div class="control-group form-group">
                    <div class="controls">
                        <label>Phone:</label>
                        <input type="text" class="form-control" id="phone" name="phone" value="88005553535">
                    </div>
                </div>
                <div id="success"></div>
                <!-- For success/fail messages -->
                <input id="submitBtn" type="button" class="btn btn-primary" value="Submit" ng-click="post()">
            </form>
        </div>

    </div>
    <!-- /.row -->

    <hr>
</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/navigationContoller.js"></script>
<script src="js/registrationController.js"></script>
</body>
</html>